<h1>Posts</h1>
<table class="table table-striped table-">
  <tbody>
  <% @posts.each do |post| %>
    <tr >
      <td ><% domain = post.url.split("/")[2] %>
        <div class="span-16 lead"><%= link_to post.title, post.url %>&nbsp;&nbsp;</div>
        <div class="span-4 muted" >(<%= domain %>)</div><br>

        <div class="span-4 badge <%= "badge-info" if post.comments.count > 0 %>" >
          <%= link_to "#{pluralize(post.comments.count, 'comment')}" , post, {:style=>'color:#FFFFFF; '} %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
