<h1>Posts</h1>
<table class="table table-condensed table-striped">
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <% domain = post.url.gsub("http://","")  %>
        <p class="lead"><%= link_to post.title, post.url %></h2>
        <p class="muted" style="margin-top:-15px">(<%= domain %>)</p> 
        <span class="badge badge-info"> <%= link_to "#{post.comments.count} #{post.comments.count == 1 ? "comment" : "comments"}", post, {:style=>'color:#FFFFFF;'} %></span>
    </td></tr>
  <% end %>
  </tbody>
</table>
