<div class="brand">
  <%= link_to "Home", root_path, class: "span-1" %>
</div>
<div class="pull-right">
  <%= link_to "log in", :root , class: "" %>&nbsp;or&nbsp;<%= link_to "register", :register, class: "" %>
</div>

